.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.itemContainer {
  box-sizing: border-box;
  padding: 0 0.5rem;
  width: 100%;
  max-width: 1100px;
}

.chartStage {
  position: relative;
  height: 300px;
}

.chartLayer {
  position: absolute;
  inset: 0;
}

.timestepContainer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  place-items: center;
  gap: 0.5rem;
  padding: 1rem 0rem;
}

.rangeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 0rem;
  color: inherit;
  background: none;
  border: none;
  border-radius: 8px;
  font-family: runescape-bold;
  font-size: 1.1rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  will-change: transform;
}

.rangeButton:focus {
  outline: none;
}

.activeRange {
  background: var(--accent-dark);
}

.rangeButton span {
  transform: translateY(1px);
}

.rangeTitle {
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.chartTypeToggle {
  position: relative;
  overflow: hidden;
}

.toggleSwitch {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  background: var(--accent-dark);
  border-radius: 8px;
  z-index: 1;
}

.iconWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  z-index: 2;
}

.iconSlot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.inactive {
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.sectionTitle {
  opacity: 0.8;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media (hover: hover) and (pointer: fine) {
  .rangeButton:hover {
    background: var(--accent-dark);
  }

  .chartTypeToggle:hover {
    background: none;
  }
}

@media (prefers-color-scheme: light) {
  .activeRange {
    background: var(--accent-light);
  }

  .toggleSwitch {
    background: var(--accent-light);
  }

  @media (hover: hover) and (pointer: fine) {
    .rangeButton:hover {
      background: var(--accent-light);
    }

    .chartTypeToggle:hover {
      background: none;
    }
  }
}
