# Server
INTERNAL_API_KEY=
PORT=
DATABASE_URL=postgres://USER:PASSWORD@HOST:PORT/DATABASE

# External APIs
WIKI_BASE_URL=
WG_BASE_URL=

# CORS
CORS_ORIGINS=http://localhost:5173,http://localhost:4173,
CORS_ORIGINS_PROD=

# Railway
# RAILWAY_ENVIRONMENT_NAME=
# RAILWAY_PUBLIC_DOMAIN=