.negative {
  color: var(--red-dark);
}

.positive {
  color: var(--green-dark);
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.currency {
  font-family: runescape-small;
  font-size: 1rem;
  opacity: 0.8;
}

@media (prefers-color-scheme: light) {
  .negative {
    color: var(--red-light);
  }

  .positive {
    color: var(--green-light);
  }
}
